:root {
    --primary-color: #3CB9DA;
    --secondary-color: #030C0D;
}

body {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
}

main {
    margin: 0 auto;
}

div {
    border: 2px solid var(--primary-color);
    box-shadow:
        0px 0px 5px 0px var(--primary-color) inset,
        0px 0px 5px 0px var(--primary-color);
    padding: 1rem;
    margin: 1rem;
}

h1,
h2,
h3 {
    margin: 2rem auto;
    font-weight: 700;
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
}

a {
    color: var(--primary-color);
}