:root {
    --primary-color: #3CB9DA;
    --secondary-color: #030C0D;
}

body {
    margin: 0 auto;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.05rem;
    font-style: normal;
    text-align: center;
}

div,
section {
    border: 2px solid var(--primary-color);
    box-shadow:
        0px 0px 5px 0px var(--primary-color) inset,
        0px 0px 5px 0px var(--primary-color);
    padding: 1rem;
    margin: 1rem;
}

h1,
h2 {
    margin: 2rem auto;
    font-weight: 700;
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
}

header,
footer {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0 auto;
    padding: 0.5rem 0 0.5rem 0;
}

#top-menu {
    position: relative;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

nav {
    margin: 0 auto;
}

#header-logo {
    text-align: start;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li {
    display: block;
    list-style-type: none;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: "Oxanium", sans-serif;
}

a:hover {
    text-decoration: underline;
}

#menu {
    display: none;
}

#ghost-text {
    display: none;
}

#reference {
    text-decoration: underline;
}

#reference:hover {
    color: white;
}

@media screen and (max-width: 700px) {

    /* Common code */

    #ghost-text {
        display: block;
        color: var(--primary-color);
        font-size: 1.5rem;
    }

    #navigation {
        display: none;
    }

    #navigation.open {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        padding: 0;
    }

    nav ul li {
        margin: 0 auto;
        padding: .5rem;
        border-bottom: 2px solid var(--secondary-color);
        margin: .5rem;
    }

    #menu {
        display: block;
        position: absolute;
        text-align: end;
        background: none;
        color: var(--secondary-color);
        font-size: 3rem;
        border: none;
        top: -1rem;
        right: 1rem;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "❌";
    }
}