:root {
    --primary-color: darkblue;
}

body {
    margin: 0;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
}

main {
    width: 100%;
    max-width: 1000px;
    margin: 1rem auto;
}

form {
    margin: 1rem auto;
    background-color: rgb(235, 235, 235);
    border: 2px solid darkgray;
    padding: 1rem;
}

fieldset {
    border: none;
}

.optional,
legend {
    color: var(--primary-color);
}

legend {
    font-weight: 700;
    font-size: 1.5rem;
}

.needed {
    color: rgb(214, 0, 0);
}

label,
div,
input[type="submit"] {
    display: block;
    margin: 1.75rem 0 0 0;
}

.checkbox,
#stars {
    margin: 0.75rem 0 0 0;
}

#stars{
    margin: 0.75rem auto;
}

select,
input[type="radio"],
input[type="date"],
textarea,
input[type="text"],
input[type="submit"] {
    display: block;
    padding: 1rem;
    width: 90%;
    max-width: 800px;
    min-width: 100px;
    font-size: 1.1rem;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 6px;
    margin-top: 0;
}

select:required,
input:required {
    border-left: 8px solid red;
}

input:required:valid,
select:required:valid {
    border-left: 8px solid green;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    margin: 1rem auto;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: white;
    color: var(--primary-color);
}

footer,
header {
    margin: 0 auto;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 1rem;
}

#copyright {
    justify-content: center;
    align-items: center;
}


#lastModified {
    color: rgb(255, 255, 0);
}

/* Star rating system */
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    justify-content: space-between;
    width: 100%;
    max-width: 10rem;
    min-width: 3rem;
}

.star-rating input {
    display: none;

}

.star-rating>label {
    font-size: 40px;
    color: var(--primary-color);
}

.star-rating>label:hover {
    color: purple;
}

.star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;

}

.star-rating input:checked~label:before {
    content: '\2605';
}