body {
    margin: 0 auto;
}

form {
    margin: 1rem auto;
    width: 100%;
    max-width: 800px;
    background-color: lightgray;
    padding: 1rem;
}

label,
div,
input[type="submit"] {
    display: block;
    margin: 2rem 0 0 0;
}

input[type="checkbox"] {
    padding: 0;
}

select,
input[type="radio"],
input[type="date"],
textarea,
input[type="text"],
input[type="submit"] {
    display: block;
    padding: 1rem;
    width: 100%;
    max-width: 700px;
    min-width: 200px;
}

select:required,
input:required {
    border-left: 8px solid red;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    justify-content: space-between;
    width: 4rem;

}

.star-rating input {
    display: none;

}

.star-rating>label {
    color: orange;
}

.star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;

}

.star-rating input:checked~label:before {
    content: '\2605';
}

input[type="submit"] {
    margin: 1rem auto;
    text-align: center;
}

footer,
header {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
}

#copyright {
    justify-content: center;
    align-items: center;
}


#lastModified {
    color: rgb(255, 255, 0);
}