body{
    
}
header{

    text-align: center;
}
footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 1rem;
}

#copyright {
    justify-content: center;
    align-items: center;
}


#lastModified {
    color: rgb(255, 255, 0);
}