@media screen and (min-width: 600px) {
    :root {
        --primary-color: #0047BB;
        --secondary-color: rgba(210, 38, 48, .85);
        --text-color: #ffffff;
        --pad: 1rem;
        --mar: 0.5rem;
    }

    body {
        color: var(--text-color);
    }

    #hero-img {
        position: relative;
    }

    picture {
        width: 100%;
        height: auto;
    }

    #data,
    #weather {
        font-size: 0.85rem;
        position: absolute;
        background-color: var(--secondary-color);
    }

    #data p,
    #weather p {
        margin: 0;
    }

    #data {
        top: 1rem;
        left: 1rem;
    }

    #weather {
        bottom: 10rem;
        right: 1rem;
    }

    #weather h2::after {
        content: " ⛅";
    }

    #weather img {
        display: none;
    }
}

@media screen and (min-width: 800px) {

    #data,
    #weather {
        font-size: 1rem;
        position: absolute;
        background-color: var(--secondary-color);
    }

    #data {
        top: 5rem;
        left: 1rem;
    }

    #weather {
        bottom: 2rem;
        right: 1rem;
    }
}