:root {
    --primary-color: rgb(0, 71, 187);
    --secondary-color: rgb(211, 39, 47);
    --text-color: rgb(0, 0, 0);
    --secondary-text-color: rgb(255, 255, 255);
    --pad: 1rem;
    --mar: 0.25rem;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    margin: 0 auto;
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    text-align: center;
    padding: var(--pad);
    margin: 0 auto;
    border-bottom: 1rem solid var(--secondary-color);
}

h2 {
    margin: var(--mar);
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: 0;
}

.topic {
    grid-column: 1/2;
    font-weight: 700;
    text-align: end;
    margin: 0;
}

.value {
    grid-column: 2/3;
    text-align: start;
    margin: 0;
}

#data,
#weather {
    display: block;
    text-align: center;
    padding: var(--pad);
    border-radius: 5px;
}

#data p,
#weather p {
    margin: var(--mar);
}

img {
    width: 100%;
    height: auto;
}

.svg-image {
    width: 5rem;
    margin: var(--mar);
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    text-align: center;
    padding: var(--pad);
}

#copyright {
    justify-content: center;
    align-items: center;
}


#lastModified {
    color: #FFCD00;
}