footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 1rem;
}

#copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}


#lastModified {
    color: rgb(255, 255, 0);
}