body {
    margin: 0 auto;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
}

main {
    margin: 0 auto;
    width: 100%;
    margin: 1rem auto;
}

footer,
header {
    width: 100%;
    margin: 0 auto;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 1rem;
}

#complete-message {
    text-align: center;
    font-size: 2rem;
    background-color: rgb(84, 139, 84);
    color: white;
    border: 3px solid rgb(46, 68, 46);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
    max-width: 800px;
    min-width: 200px;
}

#count {
    text-align: center;
    font-size: 2rem;
    border: 3px solid rgb(0, 0, 0);
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
    max-width: 500px;
    min-width: 200px;
}

#copyright {
    justify-content: center;
    align-items: center;
}


#lastModified {
    color: rgb(255, 255, 0);
}